name: Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build App
        # Đây là bước quan trọng nhất để truyền biến từ GitHub Secret vào Next.js
        run: npm run build
        env:
          NEXT_PUBLIC_KATALON_CODE: ${{ secrets.KATALON_CLIENT_CODE }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3 
        with:
          path: ./out