name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build App
        # Add variable to souce code
        run: npm run build
        env:
          NEXT_PUBLIC_KATALON_CODE: ${{ secrets.KATALON_CLIENT_CODE }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./out